<mat-toolbar color="primary">
  <span>{{title}}</span>
</mat-toolbar>
<div class="container">
  <div class="flexbox">
    <div class="item mx-auto" *ngFor="let weatherData of allWeatherData, let x = index">
      <mat-card *ngIf="weatherExist && weatherData.weatherData !== null" class="text-center"
       [ngClass]="checkWeatherConditions(weatherData.weatherData.weather[0].main)">
        <mat-card-content>
          <h1 class="m-0">
            {{weatherData.weatherData.name }}, {{weatherData.weatherData.sys.country}}
          </h1>
          <img [src]="weatherData.iconUrl" alt="weather_icon">
          <p>
            {{weatherData.weatherData.weather[0].description}}
          </p>
          <h1>{{weatherData.weatherData.main.temp}} &#8451;</h1>
          <p>
            H:{{weatherData.weatherData.main.temp_max}}&deg; | L:{{weatherData.weatherData.main.temp_min}}&deg;
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="updateWeather(x,weatherData.formController)" mat-raised-button >Edit</button>
        </mat-card-actions>
      </mat-card>

      <mat-card *ngIf="!weatherExist || weatherData.weatherData == null" class="text-center">
        <mat-form-field class="example-full-width">
          <mat-label>City Name</mat-label>
          <input matInput placeholder="Chennai" (keyup.enter)="getWeather(x,weatherData.formController)" matInput [formControl]="weatherData.formController">
        </mat-form-field>
        <mat-error class="mb-2" *ngIf="!weatherData.formController.valid">No city found, Please re-enter</mat-error>
        <button (click)="getWeather(x,weatherData.formController)" mat-raised-button color="primary">Get Weather</button>

      </mat-card>
    </div>
  </div>