<mat-toolbar color="primary">
  <span>{{title}}</span>
</mat-toolbar>
<div class="container">
  <div class="flexbox">
    <div class="item mx-auto"*ngFor="let dummy of ' '.repeat(9).split(''), let x = index">

      <mat-card *ngIf="weatherExist" class="text-center"
       [ngClass]="checkWeatherConditions(weatherData.weather[0].main)">
        <mat-card-content>
          <h1 class="m-0">
            {{weatherData.name }}, {{weatherData.sys.country}}
          </h1>
          <img [src]="iconUrl" alt="weather_icon">
          <p>
            {{weatherData.weather[0].description}}
          </p>
          <h1>{{weatherData.main.temp}} &#8451;</h1>
          <p>
            H:{{weatherData.main.temp_max}}&deg; | L:{{weatherData.main.temp_min}}&deg;
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="updateWeather()" mat-raised-button >Edit</button>
        </mat-card-actions>
      </mat-card>

      <mat-card *ngIf="!weatherExist" class="text-center">
        <mat-form-field class="example-full-width">
          <mat-label>City Name</mat-label>
          <input matInput placeholder="Chennai" (keyup.enter)="getWeather()" matInput [formControl]="cityName">
        </mat-form-field>
        <mat-error class="mb-2" *ngIf="noCity">No city found, Please re-enter</mat-error>
        <button (click)="getWeather()" mat-raised-button color="primary">Get Weather</button>

      </mat-card>
    </div>
  </div>